*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #1e293b;
}

input, select { font-family: inherit; outline: none; }
button { font-family: inherit; }